.gitignore

# Useless
.ipynb_checkpoints/
__pycache__/
*.py[cod]
venv/
.env/

## Uncleaned sections
# Mind2Web

# AITW

# MiniWob
synapse/
test_miniwob.py

# Personal
push.sh
data/datasets

results/
test_rui.ipynb
data/datasets
test.py

scripts/openai_key.sh
/home/ruis/code/Adaptive-Multimodal-Agent/scripts/openai_key_rui.sh
scripts/openai_key_rui.sh
/home/ruis/code/Adaptive-Multimodal-Agent/scripts/openai_key.sh
/home/ruis/code/Adaptive-Multimodal-Agent/scripts/agent_lab.sh
scripts/agent_lab.sh
# config/
